[Unit]
Description=Volksempfaenger

[Service]
WorkingDirectory=/home/joy/Bot/
ExecStart=./Volksempfaenger 
Restart=always
RestartSec=5

[Install]
WantedBy=dafault.target